// .active {
//     // background-color: red;
// }

.custom-input {
  display: none;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  text-align: right;

  border-radius: 5px;
  width: 11.8rem;
  height: 4.8rem;
  border: 3px solid rgb(98, 212, 98);

  color: #547878;
}

.custom-input-container {
  display: inline-block;
}
