.logo {
  margin-top: 7.6rem;
}

.btn-1 {
  padding: 2rem 4.5rem;
  background: #191921;

  font-family: "Commissioner";
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;

  color: #ffffff;
  border: none;
}

.btn-2 {
  background: #f94f4f;
  padding: 2rem 3rem;
  border: none;

  font-family: "Commissioner";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
}

.btn-3 {
  font-family: "Commissioner";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  color: #f94f4f;

  background-color: transparent;
  border: none;
  border-bottom: 2px solid red;

  padding-bottom: 0.8rem;
}

// .design-wave {
//     margin-right: 8.5rem;
//     z-index: 10;
// }