.all-content {
  margin: 0 auto;
  width: 920px;
  height: 481px;
  background: #ffffff;
  box-shadow: 0px 32px 43px rgba(79, 166, 175, 0.200735);
  border-radius: 25px;

  display: flex;

  padding: 3.2rem;
}

.left-content {
  width: 413px;
  height: 417px;

  margin-right: 5rem;

  .bill-area {
    h2 {
      font-family: "Space Mono";
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 24px;
      color: #5e7a7d;
    }

    &__input {
      background: #f3f9fa;
      border-radius: 5px;

      text-align: right;

      border: none;
      width: 100%;
      height: 5rem;
    }
  }

  .tip-percent {
    margin-top: 4rem;
    margin-bottom: 4rem;
    h2 {
      font-family: "Space Mono";
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 24px;
      color: #5e7a7d;

      margin-bottom: 1.6rem;
    }

    &__btn {
      width: 12rem;
      height: 5rem;
      background: #00474b;
      border-radius: 5px;

      font-family: "Space Mono";
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 36px;
      text-align: center;

      cursor: pointer;

      color: #ffffff;
    }
    .custom {
      // font-family: Space Mono;
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 36px;

      background: #f3f9fa;
      border-radius: 5px;

      color: #547878;
    }

    .tip-percent__btn-active {
      font-family: "Space Mono";
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 36px;
      background: #26c2ae;
      border-radius: 5px;

      text-align: center;

      color: #00474b;
    }
  }

  .number-of-people {
    h2 {
      font-family: "Space Mono";
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 24px;
      color: #5e7a7d;
    }
    &__input {
      width: 100%;
      height: 5rem;
      background: #f3f9fa;
      border-radius: 5px;
      border: none;

      text-align: right;

    }
  }
}

.right-content {
  padding: 4rem;
  background: #00474b;
  border-radius: 15px;
  width: 413px;
  height: 417px;

  .tip-amount {
    margin-bottom: 2.5rem;
    display: flex;
    justify-content: space-between;
    // text-align: center;
    &__text {
      h2 {
        font-family: "Space Mono";
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 24px;
        color: #ffffff;
      }
      p {
        font-family: "Space Mono";
        font-style: normal;
        font-weight: bold;
        font-size: 13px;
        line-height: 19px;

        color: #7f9d9f;
      }
    }
    &__number {
      font-family: "Space Mono";
      font-style: normal;
      font-weight: bold;
      font-size: 48px;
      line-height: 71px;
      text-align: right;
      letter-spacing: -1px;

      color: #26c2ae;
    }
  }

  .total-amount {
    display: flex;
    justify-content: space-between;
    text-align: center;
    &__text {
      h2 {
        font-family: "Space Mono";
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 24px;
        color: #ffffff;
      }
      p {
        font-family: "Space Mono";
        font-style: normal;
        font-weight: bold;
        font-size: 13px;
        line-height: 19px;

        color: #7f9d9f;
      }
    }
    &__number {
      font-family: "Space Mono";
      font-style: normal;
      font-weight: bold;
      font-size: 48px;
      line-height: 71px;
      text-align: right;
      letter-spacing: -1px;

      color: #26c2ae;
    }
  }
  .reset {
    margin-top: 12rem;
    font-family: "Space Mono";
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    text-align: center;

    color: #00474b;

    background: #26c2ae;
    border-radius: 5px;

    padding: 9px 15rem;
    border: none;

    cursor: pointer;
  }
}
